<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Contact Us </title>

	<link rel="stylesheet" type="text/css" href="../stylesheet.css">
  <script src="../ourScripts.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="row"><p>WebName</p></div>
			<div class="row">
					<ul class="nav navbar-nav">
						<li><a href="../homePage/homepage.html">Home</a></li>
						<li><a href="../tutorialPage/tutorialpage.html">Tutorial</a></li>
						<li class="active"><a href="../contactPage/contact.html">Contact</a></li>
						 <li><a href="../signInPage/signin.html">SignIn/SignUp</a></li> <!-- just temporary until we finish -->
						<!--add sign in and account info on right side -->
					</ul>
			</div>
		</div>
	</nav>
  

  <div class="container-fluid">
  	<div class="leftSide col-md-2">

  	</div>

  	<div class="mainArea col-md-8">

  		<h1> CONTACT US</h1>
  
  		<p id='contactp'>To contact an administrator please refer to the links below. Alternatively,
  			use the in-page text box to send an email straight from the page. </p>

  		<div class="container-fluid">

  		  <div class="col-md-6">

		    <h2> Get In Touch: </h2>
  		    <ul>
  		  	  <li> Phone: 	<i> 1234 123 123 </i> </li>
  			  <li> Email: 	<i> sampleAddress@sample.com </i> </li>
  			  <li> Mail:  	<i> 123 Placeholder Rd, Alaska </i> </li>
  		    </ul>
  		  </div>


  		  <div class="col-md-6">
  		    <h2> Email Us: </h2>
  		    <form>
  		 	  Subject (required): <br>
  			  <input type="text" name="emailSubj"> <br>
  			  Description (optional): <br>
  			  <input type="text" name="emailDesc"> <br>
  			  <input type="submit" value="Send Email">
  		  	</form>
  		 </div>

  		</div>
  	</div>

  	<div class="rightSide col-md-2">

  	</div>
  </div>
</body>
</html>

