@media (min-width: 900px) {

	/* CSS that should be displayed if width is equal to or less than 800px goes here */
	body {
		padding-top: 150px;
	}
}



/*top bar and footer--------------------------*/
.navbar-default {
	text-align: center;
	background-color: #d4ebf2;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: large;
}

.nav {
	padding-right: 30%;
}

.page-header {
	padding-left: 30%;
}

.navTitle h1 {
	font-size: 50px;
}

.page-footer {
	background-color: #d4ebf2;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: -15px;
}

/*Discussions Page ------------------------------------*/


.sampleTopic h3 {
	padding: 20px;

}

.innerTopic {
	padding: 10px;
}

.links {
	padding: 20px;
}

.special {
	padding: 20px;
	border-bottom: 1px solid grey;
	margin-bottom: 10px;
}

.hoverOnly {
	display: none;
	position: relative;
  }

/*Tutorial Page ------------------------------------*/

.heading {
	text-align: center;
	border-bottom: 1px;
	padding: 20px;
}

.blurb p {
	font-size: large;
	padding-top: 40px;
	padding-left: 10%;
	padding-right: 10%;
}

.instructions {
	font-size: large;
	padding-bottom: 20px;
	padding-left: 10%;
	padding-right: 10%;
}

/*Contact ----------------------------------------*/
.contactDetails {
	padding-left: 20px;
	padding-top: 40px;
}

input[type=text] {
	background-color: #F0F0F0;
	height: 28px;
	padding-left: 10px;
	width: 100%;
	border-radius: 5px;

	border: 0;
}

/*Sign in and up ----------------------------------------*/
.signin {
	text-align: center;
}

input[type=password] {
	background-color: #F0F0F0;
	height: 28px;
	padding-left: 10px;
	width: 100%;
	border-radius: 5px;

	border: 0;
}

/*Profile --------------------------------------------*/
.profileLeft {
	text-align: center;
}

.profileRight {
	text-align: center;
}

.imgBox {
	padding: 10px;
	text-align: center;
}

.poststuff {
	padding-bottom: 40px;
}

.sampleTopic {
	padding: 30px;
	text-align: center;
	background-color: #F8F8F8;
	border: 2px solid #F0F0F0;
}

.comment {
	padding: 30px;
	text-align: center;
	background-color: #F8F8F8;
	border: 2px solid #F0F0F0;
}

.form {
	padding-top: 40px;
	padding-bottom: 40px;
}