
/*Body area of all pages------------*/
.mainArea {
	padding-top: 120px; 
	border-left-style: solid;
	border-right-style: solid;
	border-width: 1px;
	border-color: gray;
	height: 100%;
}

.mainArea h1,h2 {
	text-align: center;
}





input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.rightMain {
	border-left-style:solid;
	border-width: 0.5px;
	border-color: gray;
}

/*--------------------------------*/
/*Contact us page-----------------*/
#contactp {
	text-align: center;
}
/*--------------------------------*/
/*Tutorial Page-------------------*/
#tutorialp{
	padding:20px;
	text-align: center;
}