
/*Body area of all pages------------*/
.mainArea {
	padding-top: 120px; 
	border-left-style: solid;
	border-right-style: solid;
	border-width: 1px;
	border-color: gray;
	height: 100%;
}

.mainArea h1,h2 {
	text-align: center;
}





input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.rightMain {
	border-left-style:solid;
	border-width: 0.5px;
	border-color: gray;
}

/*--------------------------------*/
/*Contact us page-----------------*/
#contactp {
	text-align: center;
}
/*--------------------------------*/
/*Tutorial Page-------------------*/
#tutorialp{
	padding:20px;
	text-align: center;
}
/*--------------------------------*/
/*Home Page-----------------------*/
.sampleTopic {
	margin: 20px;
	text-align: center;
	border: solid gray 1px;
	}

.sampleTopic h1 {
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right:5px;
}
/*--------------------------------*/
/*Topic Page-----------------------*/
.topicPage {

	text-align: center;
}

.comment {
	padding-top:40px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right:5px;
	border-top: solid gray 1px;
}

.comment h4 {
	text-align: center;
}

#question {
	padding: 5px;
	margin-bottom: 40px;
	margin-top: 10px;
}
.commentReply {
	padding-top:5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right:5px;
	border-top: solid gray 1px;
	font-size: xx-small;
	border-bottom: solid gray 1px;
}
