{% extends "topbar.html" %}

{% block content %}
<div class="container-fluid">
	<div class="leftSide col-md-2">

	</div>

	<div class="mainArea col-md-8">

		<div class= "special">
			<h1> Contact Us</h1>
		</div>

		<div class= "blurb">
		<p>To contact an administrator please refer to the links below. Alternatively,
			use the in-page text box to send an email straight from the page.
		administrators are usually available between 9-5 on weekdays, and 8-2 on weekends.
	Please allow for 3 working days for a response. </p>
		</div>

		<div class="instructions container-fluid">
			<div class="col-md-1"></div>
			<div class="contactDetails col-md-4">

				<h2> Get In Touch: </h2>
				<ul>
					<li> Phone: <i> 1234 123 123 </i> </li>
					<li> Email: <i> sampleAddress@sample.com </i> </li>
					<li> Mail: <i> 123 Placeholder Rd, Alaska </i> </li>
				</ul>
			</div>
			<div class="col-md-1"></div>

			<div class="contactDetails col-md-5">
				<h2> Email Us: </h2>
				<form>
					Subject (required): <br>
					<input type="text" name="emailSubj"> <br>
					Description (optional): <br>
					<input type="text" name="emailDesc"> <br>
					<input type="submit" value="Send Email">
				</form>
			</div>
			<div class="col-md-1"></div>

		</div>
	</div>

	<div class="rightSide col-md-2">

	</div>
</div>
{% endblock %}