{% extends "topbar.html" %}

{% block content %}



<div class="container-fluid">
	<div class="leftSide col-lg-2">

	</div>

	<div class="homePage col-lg-8">
		<div class="special">
			<h1> Trending Topics Near You</h1>
		</div>


		{% if not current_user.is_anonymous %}
		<div class='form'>
			<form action="" method="post">
				{{ form.hidden_tag() }}
				<p>
					{{ form.title.label }}<br>
					{{ form.title(size=64) }}<br>
					{% for error in form.title.errors %}
					<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
				</p>
				<p>
					{{ form.desc.label }}<br>
					{{ form.desc(size=248) }}<br>
					{% for error in form.desc.errors %}
					<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
				</p>
				<p>{{ form.submit() }}</p>
			</form>
		</div>
		{% endif %}

		{%for post in posts|reverse %}
		<div class="sampleTopic">
			<div class="heading">
				<h2> {{ post.title }} </h2>
			</div>
			<div class="innerTopic container-fluid">
				<div class="col-lg-3"></div>
				<div class="col-lg-3">
					<p>Blesses: {{post.blesses}} </p>
				</div>
				<div class="col-lg-3">
					<p>Curses: {{post.curses}} </p>
				</div>
				<div class="col-lg-3"></div>
			</div>

			<div class="links container-fluid">
				<div class="viewComment col-lg-4"></div>
				<div class="viewComment col-lg-4">
					<p><a href="{{ url_for('topic',postid = '') }}{{post.id}}"> View Comments </a> </p>
				</div>
				<div class="viewComment col-lg-4"></div>
			</div>

			{% for u in user %}
			{% if u.id == post.user_id %}
			<div class="hoverOnly container-fluid">

				<div class="col-lg-6">
					<h3> Posted By :</h3>
					<h3><a href="{{ url_for('profile',userid = '') }}{{u.id}}">{{u.username}}</a>
					</h3>
				</div>

				<div class="col-lg-6">
					<div class="imgBox">
						<img src="{{ u.avatar(128) }}">
					</div>
				</div>
				{%endif%}
			{%endfor%}
			</div>
			
		</div>
		<br>
		<br>
		{% endfor %}

	</div>

	<div class="rightSide col-lg-2">

	</div>
</div>
<script type=text/javascript src="{{url_for('static', filename='ourScripts.js') }}"></script>
{% endblock %}
