{% extends "topbar.html" %}

{% block content %}
  <div class="container-fluid">

    <div class="leftSide col-md-2">
    </div>

    <div class="mainArea col-md-8">
      <div class="container-fluid">

        <div class="leftMain col-md-6">
          <p>Picture and Info</p>
          <br>
          <div id="imgBox">
            <a>Add Profile Pic</a>
          </div>
          <br>
        </div>

        <div class="rightMain col-md-6">
          <p>Scores and Data</p>
        </div>
      </div>
    </div>

    <div class="leftSide col-md-2">
    </div>


  </div>
  {% endblock %}