{% extends "topbar.html" %}

{% block content %}
  <div class="container-fluid">

    <div class="leftSide col-md-1">
    </div>

    <div class="mainArea col-md-10">
      <div class="container-fluid">
        <div class = "special">
          <h1> %Users name%</h1>
        </div>

        <div class="profileLeft col-md-6">
            <h3>About Me</h3>
            <br>
          <div class = "imgBox">
            <a>%if it is their accoutn% Add an image to your profile!</a>
          </div>
          
          <p> I am blah blah blah</p>
         
        </div>

        <div class="profileRight col-md-6">
            <h3>Post Data</h3>
            <p>Number of posts: %getdata%</p>
            <br>
            <p>Overall Score: %getdata%</p>
            <br>
            <p>Overall Percentage: %getdata%</p>
            <br>
        </div>
      </div>
    </div>

    <div class="leftSide col-md-1">
    </div>


  </div>
  {% endblock %}