{% extends "topbar.html" %}

{% block content %}
<div class="container-fluid">
	<div class="leftSide col-md-2">

	</div>
	

	<div class="topicPage mainArea col-md-8">

		<div id="question">
			<div class = "special">
			<h1> {{post.title}} </h1>
			{% for u in user %}
			{% if u.id == post.user_id %}
			<h3><a href="{{ url_for('profile',userid = '') }}{{u.id}}">{{u.username}}</a></li> </h3>
			{%endif%}
			{%endfor%}


			{% if current_user.admin == True or current_user.id == post.user_id %}
			<p><a href="{{ url_for('delPost',postid = '') }}{{post.id}}">Remove Post</a></p>
			{% endif %}
		</div>

			<div class="innerTopic container-fluid">
				<div class="col-md-6">
					<p>Blesses: {{post.blesses}} </p>
				</div>
				<div class="col-md-6">
					<p>Curses: {{post.curses}} </p>
				</div>

				<div class="blurb">
					<br>
					<p>{{post.desc}}</p>
				</div>
			</div>

		</div>
        {% if not current_user.is_anonymous %}
            <div class="form">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.text.label }}<br>
                        {{ form.text(size=248) }}<br>
                        {% for error in form.text.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                     <p>
                        {{ form.stance.label }}<br>
                        {{ form.stance() }}<br>
                        {% for error in form.stance.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p> {{form.submit() }}</p>
                </form>
            </div>
        {% endif %}

		{% for reply in replies %}
		<div class="comment">
			<div class = "header">
					{% for u in user %}
					{% if u.id == reply.user_id %}
					<h3><a href="{{ url_for('profile',userid = '') }}{{u.id}}">{{u.username}}</a></li> </h3>
					{%endif%}
					{%endfor%}
			<h4> {{reply.text}} </h4>

			{% if current_user.admin == True or current_user.id == reply.user_id %}
			<p><a href="{{ url_for('delReply',replyid = '') }}{{reply.id}}">Remove Reply</a></p>
			{% endif %}
		</div>

			<div class="innerTopic container-fluid">
				<div class="col-md-6">
					<p>Blesses: {{reply.blesses}} </p>
				</div>
				<div class="col-md-6">
					<p>Curses: {{reply.curses}} </p>
				</div>
			</div>
			{% endfor %}
			<!--
				<div class="commentReply">

					<h6> I Completely disagree with your statement and think you are a complete retard for reasons
						A) B) and C). </h6>

					<div class="container-fluid">
						<div class="col-md-4">
							<p> AGAINST </p>
						</div>
						<div class="col-md-4">
							<p>5: UPVOTES </p>
						</div>
						<div class="col-md-4">
							<p>2: DOWNVOTES </p>
						</div>
					</div>
				</div>
-->

		</div>


		<div class="rightSide col-md-2">

		</div>
	</div>
	{% endblock %}
