{% extends "topbar.html" %}

{% block content %}
  <div class="container-fluid">
  	<div class="leftSide col-md-2">

  	</div>

  	<div class="mainArea col-md-8">

  		<h1> HOW THE WEBSITE WORKS</h1>
  
  		<p id='tutorialp'> Our website provides a platform for users to express their opinions on arguments and receive responses. 
      Arguments implement an algorithm that calculates public opinion on the argument, based on factors such as up/down votes,
      user responses and up/down votes on those. <br> <br> To understand how to use and operate our website, please follow the 
    guide below to show your how to get started.</p>

  		<h2> Step 1: </h2>
      
      <h2> Step 2: </h2>

      <h2> Step 3: </h2>
      
      <h2> Step 4: </h2>


  	</div>

  	<div class="rightSide col-md-2">

  	</div>
  </div>
	{% endblock %}

	{% extends "footer.html" %}